/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Helvetica--Neue--35";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/helvetica--neue/HelvNeue35.eot?") format("eot"), url("fonts/helvetica--neue/HelvNeue35.woff2") format("woff2"), url("fonts/helvetica--neue/HelvNeue35.woff") format("woff"), url("fonts/helvetica--neue/HelvNeue35.ttf") format("truetype"), url("fonts/helvetica--neue/HelvNeue35.svg#Helvetica--Neue--35") format("svg");
}
@media only screen and (min-width: 360px) {
  .col-sm-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-md-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-5 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-6 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .col-lg-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .col-xlg-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xlg-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xlg-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .col-xlg-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xlg-5 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xlg-6 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-xlg-7 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xlg-8 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xlg-9 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .col-xlg-10 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xlg-11 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xlg-12 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 360px) {
  .mt-sm-1 {
    margin-top: 1px;
  }

  .mt-sm-2 {
    margin-top: 2px;
  }

  .mt-sm-3 {
    margin-top: 3px;
  }

  .mt-sm-4 {
    margin-top: 4px;
  }

  .mt-sm-5 {
    margin-top: 5px;
  }

  .mt-sm-6 {
    margin-top: 6px;
  }

  .mt-sm-7 {
    margin-top: 7px;
  }

  .mt-sm-8 {
    margin-top: 8px;
  }

  .mt-sm-9 {
    margin-top: 9px;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mt-sm-11 {
    margin-top: 11px;
  }

  .mt-sm-12 {
    margin-top: 12px;
  }

  .mt-sm-13 {
    margin-top: 13px;
  }

  .mt-sm-14 {
    margin-top: 14px;
  }

  .mt-sm-15 {
    margin-top: 15px;
  }

  .mt-sm-16 {
    margin-top: 16px;
  }

  .mt-sm-17 {
    margin-top: 17px;
  }

  .mt-sm-18 {
    margin-top: 18px;
  }

  .mt-sm-19 {
    margin-top: 19px;
  }

  .mt-sm-20 {
    margin-top: 20px;
  }

  .mr-sm-1 {
    margin-right: 1px;
  }

  .mr-sm-2 {
    margin-right: 2px;
  }

  .mr-sm-3 {
    margin-right: 3px;
  }

  .mr-sm-4 {
    margin-right: 4px;
  }

  .mr-sm-5 {
    margin-right: 5px;
  }

  .mr-sm-6 {
    margin-right: 6px;
  }

  .mr-sm-7 {
    margin-right: 7px;
  }

  .mr-sm-8 {
    margin-right: 8px;
  }

  .mr-sm-9 {
    margin-right: 9px;
  }

  .mr-sm-10 {
    margin-right: 10px;
  }

  .mr-sm-11 {
    margin-right: 11px;
  }

  .mr-sm-12 {
    margin-right: 12px;
  }

  .mr-sm-13 {
    margin-right: 13px;
  }

  .mr-sm-14 {
    margin-right: 14px;
  }

  .mr-sm-15 {
    margin-right: 15px;
  }

  .mr-sm-16 {
    margin-right: 16px;
  }

  .mr-sm-17 {
    margin-right: 17px;
  }

  .mr-sm-18 {
    margin-right: 18px;
  }

  .mr-sm-19 {
    margin-right: 19px;
  }

  .mr-sm-20 {
    margin-right: 20px;
  }

  .mb-sm-1 {
    margin-bottom: 1px;
  }

  .mb-sm-2 {
    margin-bottom: 2px;
  }

  .mb-sm-3 {
    margin-bottom: 3px;
  }

  .mb-sm-4 {
    margin-bottom: 4px;
  }

  .mb-sm-5 {
    margin-bottom: 5px;
  }

  .mb-sm-6 {
    margin-bottom: 6px;
  }

  .mb-sm-7 {
    margin-bottom: 7px;
  }

  .mb-sm-8 {
    margin-bottom: 8px;
  }

  .mb-sm-9 {
    margin-bottom: 9px;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mb-sm-11 {
    margin-bottom: 11px;
  }

  .mb-sm-12 {
    margin-bottom: 12px;
  }

  .mb-sm-13 {
    margin-bottom: 13px;
  }

  .mb-sm-14 {
    margin-bottom: 14px;
  }

  .mb-sm-15 {
    margin-bottom: 15px;
  }

  .mb-sm-16 {
    margin-bottom: 16px;
  }

  .mb-sm-17 {
    margin-bottom: 17px;
  }

  .mb-sm-18 {
    margin-bottom: 18px;
  }

  .mb-sm-19 {
    margin-bottom: 19px;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .ml-sm-1 {
    margin-left: 1px;
  }

  .ml-sm-2 {
    margin-left: 2px;
  }

  .ml-sm-3 {
    margin-left: 3px;
  }

  .ml-sm-4 {
    margin-left: 4px;
  }

  .ml-sm-5 {
    margin-left: 5px;
  }

  .ml-sm-6 {
    margin-left: 6px;
  }

  .ml-sm-7 {
    margin-left: 7px;
  }

  .ml-sm-8 {
    margin-left: 8px;
  }

  .ml-sm-9 {
    margin-left: 9px;
  }

  .ml-sm-10 {
    margin-left: 10px;
  }

  .ml-sm-11 {
    margin-left: 11px;
  }

  .ml-sm-12 {
    margin-left: 12px;
  }

  .ml-sm-13 {
    margin-left: 13px;
  }

  .ml-sm-14 {
    margin-left: 14px;
  }

  .ml-sm-15 {
    margin-left: 15px;
  }

  .ml-sm-16 {
    margin-left: 16px;
  }

  .ml-sm-17 {
    margin-left: 17px;
  }

  .ml-sm-18 {
    margin-left: 18px;
  }

  .ml-sm-19 {
    margin-left: 19px;
  }

  .ml-sm-20 {
    margin-left: 20px;
  }

  .pt-sm-1 {
    padding-top: 1px;
  }

  .pt-sm-2 {
    padding-top: 2px;
  }

  .pt-sm-3 {
    padding-top: 3px;
  }

  .pt-sm-4 {
    padding-top: 4px;
  }

  .pt-sm-5 {
    padding-top: 5px;
  }

  .pt-sm-6 {
    padding-top: 6px;
  }

  .pt-sm-7 {
    padding-top: 7px;
  }

  .pt-sm-8 {
    padding-top: 8px;
  }

  .pt-sm-9 {
    padding-top: 9px;
  }

  .pt-sm-10 {
    padding-top: 10px;
  }

  .pt-sm-11 {
    padding-top: 11px;
  }

  .pt-sm-12 {
    padding-top: 12px;
  }

  .pt-sm-13 {
    padding-top: 13px;
  }

  .pt-sm-14 {
    padding-top: 14px;
  }

  .pt-sm-15 {
    padding-top: 15px;
  }

  .pt-sm-16 {
    padding-top: 16px;
  }

  .pt-sm-17 {
    padding-top: 17px;
  }

  .pt-sm-18 {
    padding-top: 18px;
  }

  .pt-sm-19 {
    padding-top: 19px;
  }

  .pt-sm-20 {
    padding-top: 20px;
  }

  .pr-sm-1 {
    padding-right: 1px;
  }

  .pr-sm-2 {
    padding-right: 2px;
  }

  .pr-sm-3 {
    padding-right: 3px;
  }

  .pr-sm-4 {
    padding-right: 4px;
  }

  .pr-sm-5 {
    padding-right: 5px;
  }

  .pr-sm-6 {
    padding-right: 6px;
  }

  .pr-sm-7 {
    padding-right: 7px;
  }

  .pr-sm-8 {
    padding-right: 8px;
  }

  .pr-sm-9 {
    padding-right: 9px;
  }

  .pr-sm-10 {
    padding-right: 10px;
  }

  .pr-sm-11 {
    padding-right: 11px;
  }

  .pr-sm-12 {
    padding-right: 12px;
  }

  .pr-sm-13 {
    padding-right: 13px;
  }

  .pr-sm-14 {
    padding-right: 14px;
  }

  .pr-sm-15 {
    padding-right: 15px;
  }

  .pr-sm-16 {
    padding-right: 16px;
  }

  .pr-sm-17 {
    padding-right: 17px;
  }

  .pr-sm-18 {
    padding-right: 18px;
  }

  .pr-sm-19 {
    padding-right: 19px;
  }

  .pr-sm-20 {
    padding-right: 20px;
  }

  .pb-sm-1 {
    padding-bottom: 1px;
  }

  .pb-sm-2 {
    padding-bottom: 2px;
  }

  .pb-sm-3 {
    padding-bottom: 3px;
  }

  .pb-sm-4 {
    padding-bottom: 4px;
  }

  .pb-sm-5 {
    padding-bottom: 5px;
  }

  .pb-sm-6 {
    padding-bottom: 6px;
  }

  .pb-sm-7 {
    padding-bottom: 7px;
  }

  .pb-sm-8 {
    padding-bottom: 8px;
  }

  .pb-sm-9 {
    padding-bottom: 9px;
  }

  .pb-sm-10 {
    padding-bottom: 10px;
  }

  .pb-sm-11 {
    padding-bottom: 11px;
  }

  .pb-sm-12 {
    padding-bottom: 12px;
  }

  .pb-sm-13 {
    padding-bottom: 13px;
  }

  .pb-sm-14 {
    padding-bottom: 14px;
  }

  .pb-sm-15 {
    padding-bottom: 15px;
  }

  .pb-sm-16 {
    padding-bottom: 16px;
  }

  .pb-sm-17 {
    padding-bottom: 17px;
  }

  .pb-sm-18 {
    padding-bottom: 18px;
  }

  .pb-sm-19 {
    padding-bottom: 19px;
  }

  .pb-sm-20 {
    padding-bottom: 20px;
  }

  .pl-sm-1 {
    padding-left: 1px;
  }

  .pl-sm-2 {
    padding-left: 2px;
  }

  .pl-sm-3 {
    padding-left: 3px;
  }

  .pl-sm-4 {
    padding-left: 4px;
  }

  .pl-sm-5 {
    padding-left: 5px;
  }

  .pl-sm-6 {
    padding-left: 6px;
  }

  .pl-sm-7 {
    padding-left: 7px;
  }

  .pl-sm-8 {
    padding-left: 8px;
  }

  .pl-sm-9 {
    padding-left: 9px;
  }

  .pl-sm-10 {
    padding-left: 10px;
  }

  .pl-sm-11 {
    padding-left: 11px;
  }

  .pl-sm-12 {
    padding-left: 12px;
  }

  .pl-sm-13 {
    padding-left: 13px;
  }

  .pl-sm-14 {
    padding-left: 14px;
  }

  .pl-sm-15 {
    padding-left: 15px;
  }

  .pl-sm-16 {
    padding-left: 16px;
  }

  .pl-sm-17 {
    padding-left: 17px;
  }

  .pl-sm-18 {
    padding-left: 18px;
  }

  .pl-sm-19 {
    padding-left: 19px;
  }

  .pl-sm-20 {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .mt-md-1 {
    margin-top: 1px;
  }

  .mt-md-2 {
    margin-top: 2px;
  }

  .mt-md-3 {
    margin-top: 3px;
  }

  .mt-md-4 {
    margin-top: 4px;
  }

  .mt-md-5 {
    margin-top: 5px;
  }

  .mt-md-6 {
    margin-top: 6px;
  }

  .mt-md-7 {
    margin-top: 7px;
  }

  .mt-md-8 {
    margin-top: 8px;
  }

  .mt-md-9 {
    margin-top: 9px;
  }

  .mt-md-10 {
    margin-top: 10px;
  }

  .mt-md-11 {
    margin-top: 11px;
  }

  .mt-md-12 {
    margin-top: 12px;
  }

  .mt-md-13 {
    margin-top: 13px;
  }

  .mt-md-14 {
    margin-top: 14px;
  }

  .mt-md-15 {
    margin-top: 15px;
  }

  .mt-md-16 {
    margin-top: 16px;
  }

  .mt-md-17 {
    margin-top: 17px;
  }

  .mt-md-18 {
    margin-top: 18px;
  }

  .mt-md-19 {
    margin-top: 19px;
  }

  .mt-md-20 {
    margin-top: 20px;
  }

  .mr-md-1 {
    margin-right: 1px;
  }

  .mr-md-2 {
    margin-right: 2px;
  }

  .mr-md-3 {
    margin-right: 3px;
  }

  .mr-md-4 {
    margin-right: 4px;
  }

  .mr-md-5 {
    margin-right: 5px;
  }

  .mr-md-6 {
    margin-right: 6px;
  }

  .mr-md-7 {
    margin-right: 7px;
  }

  .mr-md-8 {
    margin-right: 8px;
  }

  .mr-md-9 {
    margin-right: 9px;
  }

  .mr-md-10 {
    margin-right: 10px;
  }

  .mr-md-11 {
    margin-right: 11px;
  }

  .mr-md-12 {
    margin-right: 12px;
  }

  .mr-md-13 {
    margin-right: 13px;
  }

  .mr-md-14 {
    margin-right: 14px;
  }

  .mr-md-15 {
    margin-right: 15px;
  }

  .mr-md-16 {
    margin-right: 16px;
  }

  .mr-md-17 {
    margin-right: 17px;
  }

  .mr-md-18 {
    margin-right: 18px;
  }

  .mr-md-19 {
    margin-right: 19px;
  }

  .mr-md-20 {
    margin-right: 20px;
  }

  .mb-md-1 {
    margin-bottom: 1px;
  }

  .mb-md-2 {
    margin-bottom: 2px;
  }

  .mb-md-3 {
    margin-bottom: 3px;
  }

  .mb-md-4 {
    margin-bottom: 4px;
  }

  .mb-md-5 {
    margin-bottom: 5px;
  }

  .mb-md-6 {
    margin-bottom: 6px;
  }

  .mb-md-7 {
    margin-bottom: 7px;
  }

  .mb-md-8 {
    margin-bottom: 8px;
  }

  .mb-md-9 {
    margin-bottom: 9px;
  }

  .mb-md-10 {
    margin-bottom: 10px;
  }

  .mb-md-11 {
    margin-bottom: 11px;
  }

  .mb-md-12 {
    margin-bottom: 12px;
  }

  .mb-md-13 {
    margin-bottom: 13px;
  }

  .mb-md-14 {
    margin-bottom: 14px;
  }

  .mb-md-15 {
    margin-bottom: 15px;
  }

  .mb-md-16 {
    margin-bottom: 16px;
  }

  .mb-md-17 {
    margin-bottom: 17px;
  }

  .mb-md-18 {
    margin-bottom: 18px;
  }

  .mb-md-19 {
    margin-bottom: 19px;
  }

  .mb-md-20 {
    margin-bottom: 20px;
  }

  .ml-md-1 {
    margin-left: 1px;
  }

  .ml-md-2 {
    margin-left: 2px;
  }

  .ml-md-3 {
    margin-left: 3px;
  }

  .ml-md-4 {
    margin-left: 4px;
  }

  .ml-md-5 {
    margin-left: 5px;
  }

  .ml-md-6 {
    margin-left: 6px;
  }

  .ml-md-7 {
    margin-left: 7px;
  }

  .ml-md-8 {
    margin-left: 8px;
  }

  .ml-md-9 {
    margin-left: 9px;
  }

  .ml-md-10 {
    margin-left: 10px;
  }

  .ml-md-11 {
    margin-left: 11px;
  }

  .ml-md-12 {
    margin-left: 12px;
  }

  .ml-md-13 {
    margin-left: 13px;
  }

  .ml-md-14 {
    margin-left: 14px;
  }

  .ml-md-15 {
    margin-left: 15px;
  }

  .ml-md-16 {
    margin-left: 16px;
  }

  .ml-md-17 {
    margin-left: 17px;
  }

  .ml-md-18 {
    margin-left: 18px;
  }

  .ml-md-19 {
    margin-left: 19px;
  }

  .ml-md-20 {
    margin-left: 20px;
  }

  .pt-md-1 {
    padding-top: 1px;
  }

  .pt-md-2 {
    padding-top: 2px;
  }

  .pt-md-3 {
    padding-top: 3px;
  }

  .pt-md-4 {
    padding-top: 4px;
  }

  .pt-md-5 {
    padding-top: 5px;
  }

  .pt-md-6 {
    padding-top: 6px;
  }

  .pt-md-7 {
    padding-top: 7px;
  }

  .pt-md-8 {
    padding-top: 8px;
  }

  .pt-md-9 {
    padding-top: 9px;
  }

  .pt-md-10 {
    padding-top: 10px;
  }

  .pt-md-11 {
    padding-top: 11px;
  }

  .pt-md-12 {
    padding-top: 12px;
  }

  .pt-md-13 {
    padding-top: 13px;
  }

  .pt-md-14 {
    padding-top: 14px;
  }

  .pt-md-15 {
    padding-top: 15px;
  }

  .pt-md-16 {
    padding-top: 16px;
  }

  .pt-md-17 {
    padding-top: 17px;
  }

  .pt-md-18 {
    padding-top: 18px;
  }

  .pt-md-19 {
    padding-top: 19px;
  }

  .pt-md-20 {
    padding-top: 20px;
  }

  .pr-md-1 {
    padding-right: 1px;
  }

  .pr-md-2 {
    padding-right: 2px;
  }

  .pr-md-3 {
    padding-right: 3px;
  }

  .pr-md-4 {
    padding-right: 4px;
  }

  .pr-md-5 {
    padding-right: 5px;
  }

  .pr-md-6 {
    padding-right: 6px;
  }

  .pr-md-7 {
    padding-right: 7px;
  }

  .pr-md-8 {
    padding-right: 8px;
  }

  .pr-md-9 {
    padding-right: 9px;
  }

  .pr-md-10 {
    padding-right: 10px;
  }

  .pr-md-11 {
    padding-right: 11px;
  }

  .pr-md-12 {
    padding-right: 12px;
  }

  .pr-md-13 {
    padding-right: 13px;
  }

  .pr-md-14 {
    padding-right: 14px;
  }

  .pr-md-15 {
    padding-right: 15px;
  }

  .pr-md-16 {
    padding-right: 16px;
  }

  .pr-md-17 {
    padding-right: 17px;
  }

  .pr-md-18 {
    padding-right: 18px;
  }

  .pr-md-19 {
    padding-right: 19px;
  }

  .pr-md-20 {
    padding-right: 20px;
  }

  .pb-md-1 {
    padding-bottom: 1px;
  }

  .pb-md-2 {
    padding-bottom: 2px;
  }

  .pb-md-3 {
    padding-bottom: 3px;
  }

  .pb-md-4 {
    padding-bottom: 4px;
  }

  .pb-md-5 {
    padding-bottom: 5px;
  }

  .pb-md-6 {
    padding-bottom: 6px;
  }

  .pb-md-7 {
    padding-bottom: 7px;
  }

  .pb-md-8 {
    padding-bottom: 8px;
  }

  .pb-md-9 {
    padding-bottom: 9px;
  }

  .pb-md-10 {
    padding-bottom: 10px;
  }

  .pb-md-11 {
    padding-bottom: 11px;
  }

  .pb-md-12 {
    padding-bottom: 12px;
  }

  .pb-md-13 {
    padding-bottom: 13px;
  }

  .pb-md-14 {
    padding-bottom: 14px;
  }

  .pb-md-15 {
    padding-bottom: 15px;
  }

  .pb-md-16 {
    padding-bottom: 16px;
  }

  .pb-md-17 {
    padding-bottom: 17px;
  }

  .pb-md-18 {
    padding-bottom: 18px;
  }

  .pb-md-19 {
    padding-bottom: 19px;
  }

  .pb-md-20 {
    padding-bottom: 20px;
  }

  .pl-md-1 {
    padding-left: 1px;
  }

  .pl-md-2 {
    padding-left: 2px;
  }

  .pl-md-3 {
    padding-left: 3px;
  }

  .pl-md-4 {
    padding-left: 4px;
  }

  .pl-md-5 {
    padding-left: 5px;
  }

  .pl-md-6 {
    padding-left: 6px;
  }

  .pl-md-7 {
    padding-left: 7px;
  }

  .pl-md-8 {
    padding-left: 8px;
  }

  .pl-md-9 {
    padding-left: 9px;
  }

  .pl-md-10 {
    padding-left: 10px;
  }

  .pl-md-11 {
    padding-left: 11px;
  }

  .pl-md-12 {
    padding-left: 12px;
  }

  .pl-md-13 {
    padding-left: 13px;
  }

  .pl-md-14 {
    padding-left: 14px;
  }

  .pl-md-15 {
    padding-left: 15px;
  }

  .pl-md-16 {
    padding-left: 16px;
  }

  .pl-md-17 {
    padding-left: 17px;
  }

  .pl-md-18 {
    padding-left: 18px;
  }

  .pl-md-19 {
    padding-left: 19px;
  }

  .pl-md-20 {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .mt-lg-1 {
    margin-top: 1px;
  }

  .mt-lg-2 {
    margin-top: 2px;
  }

  .mt-lg-3 {
    margin-top: 3px;
  }

  .mt-lg-4 {
    margin-top: 4px;
  }

  .mt-lg-5 {
    margin-top: 5px;
  }

  .mt-lg-6 {
    margin-top: 6px;
  }

  .mt-lg-7 {
    margin-top: 7px;
  }

  .mt-lg-8 {
    margin-top: 8px;
  }

  .mt-lg-9 {
    margin-top: 9px;
  }

  .mt-lg-10 {
    margin-top: 10px;
  }

  .mt-lg-11 {
    margin-top: 11px;
  }

  .mt-lg-12 {
    margin-top: 12px;
  }

  .mt-lg-13 {
    margin-top: 13px;
  }

  .mt-lg-14 {
    margin-top: 14px;
  }

  .mt-lg-15 {
    margin-top: 15px;
  }

  .mt-lg-16 {
    margin-top: 16px;
  }

  .mt-lg-17 {
    margin-top: 17px;
  }

  .mt-lg-18 {
    margin-top: 18px;
  }

  .mt-lg-19 {
    margin-top: 19px;
  }

  .mt-lg-20 {
    margin-top: 20px;
  }

  .mr-lg-1 {
    margin-right: 1px;
  }

  .mr-lg-2 {
    margin-right: 2px;
  }

  .mr-lg-3 {
    margin-right: 3px;
  }

  .mr-lg-4 {
    margin-right: 4px;
  }

  .mr-lg-5 {
    margin-right: 5px;
  }

  .mr-lg-6 {
    margin-right: 6px;
  }

  .mr-lg-7 {
    margin-right: 7px;
  }

  .mr-lg-8 {
    margin-right: 8px;
  }

  .mr-lg-9 {
    margin-right: 9px;
  }

  .mr-lg-10 {
    margin-right: 10px;
  }

  .mr-lg-11 {
    margin-right: 11px;
  }

  .mr-lg-12 {
    margin-right: 12px;
  }

  .mr-lg-13 {
    margin-right: 13px;
  }

  .mr-lg-14 {
    margin-right: 14px;
  }

  .mr-lg-15 {
    margin-right: 15px;
  }

  .mr-lg-16 {
    margin-right: 16px;
  }

  .mr-lg-17 {
    margin-right: 17px;
  }

  .mr-lg-18 {
    margin-right: 18px;
  }

  .mr-lg-19 {
    margin-right: 19px;
  }

  .mr-lg-20 {
    margin-right: 20px;
  }

  .mb-lg-1 {
    margin-bottom: 1px;
  }

  .mb-lg-2 {
    margin-bottom: 2px;
  }

  .mb-lg-3 {
    margin-bottom: 3px;
  }

  .mb-lg-4 {
    margin-bottom: 4px;
  }

  .mb-lg-5 {
    margin-bottom: 5px;
  }

  .mb-lg-6 {
    margin-bottom: 6px;
  }

  .mb-lg-7 {
    margin-bottom: 7px;
  }

  .mb-lg-8 {
    margin-bottom: 8px;
  }

  .mb-lg-9 {
    margin-bottom: 9px;
  }

  .mb-lg-10 {
    margin-bottom: 10px;
  }

  .mb-lg-11 {
    margin-bottom: 11px;
  }

  .mb-lg-12 {
    margin-bottom: 12px;
  }

  .mb-lg-13 {
    margin-bottom: 13px;
  }

  .mb-lg-14 {
    margin-bottom: 14px;
  }

  .mb-lg-15 {
    margin-bottom: 15px;
  }

  .mb-lg-16 {
    margin-bottom: 16px;
  }

  .mb-lg-17 {
    margin-bottom: 17px;
  }

  .mb-lg-18 {
    margin-bottom: 18px;
  }

  .mb-lg-19 {
    margin-bottom: 19px;
  }

  .mb-lg-20 {
    margin-bottom: 20px;
  }

  .ml-lg-1 {
    margin-left: 1px;
  }

  .ml-lg-2 {
    margin-left: 2px;
  }

  .ml-lg-3 {
    margin-left: 3px;
  }

  .ml-lg-4 {
    margin-left: 4px;
  }

  .ml-lg-5 {
    margin-left: 5px;
  }

  .ml-lg-6 {
    margin-left: 6px;
  }

  .ml-lg-7 {
    margin-left: 7px;
  }

  .ml-lg-8 {
    margin-left: 8px;
  }

  .ml-lg-9 {
    margin-left: 9px;
  }

  .ml-lg-10 {
    margin-left: 10px;
  }

  .ml-lg-11 {
    margin-left: 11px;
  }

  .ml-lg-12 {
    margin-left: 12px;
  }

  .ml-lg-13 {
    margin-left: 13px;
  }

  .ml-lg-14 {
    margin-left: 14px;
  }

  .ml-lg-15 {
    margin-left: 15px;
  }

  .ml-lg-16 {
    margin-left: 16px;
  }

  .ml-lg-17 {
    margin-left: 17px;
  }

  .ml-lg-18 {
    margin-left: 18px;
  }

  .ml-lg-19 {
    margin-left: 19px;
  }

  .ml-lg-20 {
    margin-left: 20px;
  }

  .pt-lg-1 {
    padding-top: 1px;
  }

  .pt-lg-2 {
    padding-top: 2px;
  }

  .pt-lg-3 {
    padding-top: 3px;
  }

  .pt-lg-4 {
    padding-top: 4px;
  }

  .pt-lg-5 {
    padding-top: 5px;
  }

  .pt-lg-6 {
    padding-top: 6px;
  }

  .pt-lg-7 {
    padding-top: 7px;
  }

  .pt-lg-8 {
    padding-top: 8px;
  }

  .pt-lg-9 {
    padding-top: 9px;
  }

  .pt-lg-10 {
    padding-top: 10px;
  }

  .pt-lg-11 {
    padding-top: 11px;
  }

  .pt-lg-12 {
    padding-top: 12px;
  }

  .pt-lg-13 {
    padding-top: 13px;
  }

  .pt-lg-14 {
    padding-top: 14px;
  }

  .pt-lg-15 {
    padding-top: 15px;
  }

  .pt-lg-16 {
    padding-top: 16px;
  }

  .pt-lg-17 {
    padding-top: 17px;
  }

  .pt-lg-18 {
    padding-top: 18px;
  }

  .pt-lg-19 {
    padding-top: 19px;
  }

  .pt-lg-20 {
    padding-top: 20px;
  }

  .pr-lg-1 {
    padding-right: 1px;
  }

  .pr-lg-2 {
    padding-right: 2px;
  }

  .pr-lg-3 {
    padding-right: 3px;
  }

  .pr-lg-4 {
    padding-right: 4px;
  }

  .pr-lg-5 {
    padding-right: 5px;
  }

  .pr-lg-6 {
    padding-right: 6px;
  }

  .pr-lg-7 {
    padding-right: 7px;
  }

  .pr-lg-8 {
    padding-right: 8px;
  }

  .pr-lg-9 {
    padding-right: 9px;
  }

  .pr-lg-10 {
    padding-right: 10px;
  }

  .pr-lg-11 {
    padding-right: 11px;
  }

  .pr-lg-12 {
    padding-right: 12px;
  }

  .pr-lg-13 {
    padding-right: 13px;
  }

  .pr-lg-14 {
    padding-right: 14px;
  }

  .pr-lg-15 {
    padding-right: 15px;
  }

  .pr-lg-16 {
    padding-right: 16px;
  }

  .pr-lg-17 {
    padding-right: 17px;
  }

  .pr-lg-18 {
    padding-right: 18px;
  }

  .pr-lg-19 {
    padding-right: 19px;
  }

  .pr-lg-20 {
    padding-right: 20px;
  }

  .pb-lg-1 {
    padding-bottom: 1px;
  }

  .pb-lg-2 {
    padding-bottom: 2px;
  }

  .pb-lg-3 {
    padding-bottom: 3px;
  }

  .pb-lg-4 {
    padding-bottom: 4px;
  }

  .pb-lg-5 {
    padding-bottom: 5px;
  }

  .pb-lg-6 {
    padding-bottom: 6px;
  }

  .pb-lg-7 {
    padding-bottom: 7px;
  }

  .pb-lg-8 {
    padding-bottom: 8px;
  }

  .pb-lg-9 {
    padding-bottom: 9px;
  }

  .pb-lg-10 {
    padding-bottom: 10px;
  }

  .pb-lg-11 {
    padding-bottom: 11px;
  }

  .pb-lg-12 {
    padding-bottom: 12px;
  }

  .pb-lg-13 {
    padding-bottom: 13px;
  }

  .pb-lg-14 {
    padding-bottom: 14px;
  }

  .pb-lg-15 {
    padding-bottom: 15px;
  }

  .pb-lg-16 {
    padding-bottom: 16px;
  }

  .pb-lg-17 {
    padding-bottom: 17px;
  }

  .pb-lg-18 {
    padding-bottom: 18px;
  }

  .pb-lg-19 {
    padding-bottom: 19px;
  }

  .pb-lg-20 {
    padding-bottom: 20px;
  }

  .pl-lg-1 {
    padding-left: 1px;
  }

  .pl-lg-2 {
    padding-left: 2px;
  }

  .pl-lg-3 {
    padding-left: 3px;
  }

  .pl-lg-4 {
    padding-left: 4px;
  }

  .pl-lg-5 {
    padding-left: 5px;
  }

  .pl-lg-6 {
    padding-left: 6px;
  }

  .pl-lg-7 {
    padding-left: 7px;
  }

  .pl-lg-8 {
    padding-left: 8px;
  }

  .pl-lg-9 {
    padding-left: 9px;
  }

  .pl-lg-10 {
    padding-left: 10px;
  }

  .pl-lg-11 {
    padding-left: 11px;
  }

  .pl-lg-12 {
    padding-left: 12px;
  }

  .pl-lg-13 {
    padding-left: 13px;
  }

  .pl-lg-14 {
    padding-left: 14px;
  }

  .pl-lg-15 {
    padding-left: 15px;
  }

  .pl-lg-16 {
    padding-left: 16px;
  }

  .pl-lg-17 {
    padding-left: 17px;
  }

  .pl-lg-18 {
    padding-left: 18px;
  }

  .pl-lg-19 {
    padding-left: 19px;
  }

  .pl-lg-20 {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .mt-xlg-1 {
    margin-top: 1px;
  }

  .mt-xlg-2 {
    margin-top: 2px;
  }

  .mt-xlg-3 {
    margin-top: 3px;
  }

  .mt-xlg-4 {
    margin-top: 4px;
  }

  .mt-xlg-5 {
    margin-top: 5px;
  }

  .mt-xlg-6 {
    margin-top: 6px;
  }

  .mt-xlg-7 {
    margin-top: 7px;
  }

  .mt-xlg-8 {
    margin-top: 8px;
  }

  .mt-xlg-9 {
    margin-top: 9px;
  }

  .mt-xlg-10 {
    margin-top: 10px;
  }

  .mt-xlg-11 {
    margin-top: 11px;
  }

  .mt-xlg-12 {
    margin-top: 12px;
  }

  .mt-xlg-13 {
    margin-top: 13px;
  }

  .mt-xlg-14 {
    margin-top: 14px;
  }

  .mt-xlg-15 {
    margin-top: 15px;
  }

  .mt-xlg-16 {
    margin-top: 16px;
  }

  .mt-xlg-17 {
    margin-top: 17px;
  }

  .mt-xlg-18 {
    margin-top: 18px;
  }

  .mt-xlg-19 {
    margin-top: 19px;
  }

  .mt-xlg-20 {
    margin-top: 20px;
  }

  .mr-xlg-1 {
    margin-right: 1px;
  }

  .mr-xlg-2 {
    margin-right: 2px;
  }

  .mr-xlg-3 {
    margin-right: 3px;
  }

  .mr-xlg-4 {
    margin-right: 4px;
  }

  .mr-xlg-5 {
    margin-right: 5px;
  }

  .mr-xlg-6 {
    margin-right: 6px;
  }

  .mr-xlg-7 {
    margin-right: 7px;
  }

  .mr-xlg-8 {
    margin-right: 8px;
  }

  .mr-xlg-9 {
    margin-right: 9px;
  }

  .mr-xlg-10 {
    margin-right: 10px;
  }

  .mr-xlg-11 {
    margin-right: 11px;
  }

  .mr-xlg-12 {
    margin-right: 12px;
  }

  .mr-xlg-13 {
    margin-right: 13px;
  }

  .mr-xlg-14 {
    margin-right: 14px;
  }

  .mr-xlg-15 {
    margin-right: 15px;
  }

  .mr-xlg-16 {
    margin-right: 16px;
  }

  .mr-xlg-17 {
    margin-right: 17px;
  }

  .mr-xlg-18 {
    margin-right: 18px;
  }

  .mr-xlg-19 {
    margin-right: 19px;
  }

  .mr-xlg-20 {
    margin-right: 20px;
  }

  .mb-xlg-1 {
    margin-bottom: 1px;
  }

  .mb-xlg-2 {
    margin-bottom: 2px;
  }

  .mb-xlg-3 {
    margin-bottom: 3px;
  }

  .mb-xlg-4 {
    margin-bottom: 4px;
  }

  .mb-xlg-5 {
    margin-bottom: 5px;
  }

  .mb-xlg-6 {
    margin-bottom: 6px;
  }

  .mb-xlg-7 {
    margin-bottom: 7px;
  }

  .mb-xlg-8 {
    margin-bottom: 8px;
  }

  .mb-xlg-9 {
    margin-bottom: 9px;
  }

  .mb-xlg-10 {
    margin-bottom: 10px;
  }

  .mb-xlg-11 {
    margin-bottom: 11px;
  }

  .mb-xlg-12 {
    margin-bottom: 12px;
  }

  .mb-xlg-13 {
    margin-bottom: 13px;
  }

  .mb-xlg-14 {
    margin-bottom: 14px;
  }

  .mb-xlg-15 {
    margin-bottom: 15px;
  }

  .mb-xlg-16 {
    margin-bottom: 16px;
  }

  .mb-xlg-17 {
    margin-bottom: 17px;
  }

  .mb-xlg-18 {
    margin-bottom: 18px;
  }

  .mb-xlg-19 {
    margin-bottom: 19px;
  }

  .mb-xlg-20 {
    margin-bottom: 20px;
  }

  .ml-xlg-1 {
    margin-left: 1px;
  }

  .ml-xlg-2 {
    margin-left: 2px;
  }

  .ml-xlg-3 {
    margin-left: 3px;
  }

  .ml-xlg-4 {
    margin-left: 4px;
  }

  .ml-xlg-5 {
    margin-left: 5px;
  }

  .ml-xlg-6 {
    margin-left: 6px;
  }

  .ml-xlg-7 {
    margin-left: 7px;
  }

  .ml-xlg-8 {
    margin-left: 8px;
  }

  .ml-xlg-9 {
    margin-left: 9px;
  }

  .ml-xlg-10 {
    margin-left: 10px;
  }

  .ml-xlg-11 {
    margin-left: 11px;
  }

  .ml-xlg-12 {
    margin-left: 12px;
  }

  .ml-xlg-13 {
    margin-left: 13px;
  }

  .ml-xlg-14 {
    margin-left: 14px;
  }

  .ml-xlg-15 {
    margin-left: 15px;
  }

  .ml-xlg-16 {
    margin-left: 16px;
  }

  .ml-xlg-17 {
    margin-left: 17px;
  }

  .ml-xlg-18 {
    margin-left: 18px;
  }

  .ml-xlg-19 {
    margin-left: 19px;
  }

  .ml-xlg-20 {
    margin-left: 20px;
  }

  .pt-xlg-1 {
    padding-top: 1px;
  }

  .pt-xlg-2 {
    padding-top: 2px;
  }

  .pt-xlg-3 {
    padding-top: 3px;
  }

  .pt-xlg-4 {
    padding-top: 4px;
  }

  .pt-xlg-5 {
    padding-top: 5px;
  }

  .pt-xlg-6 {
    padding-top: 6px;
  }

  .pt-xlg-7 {
    padding-top: 7px;
  }

  .pt-xlg-8 {
    padding-top: 8px;
  }

  .pt-xlg-9 {
    padding-top: 9px;
  }

  .pt-xlg-10 {
    padding-top: 10px;
  }

  .pt-xlg-11 {
    padding-top: 11px;
  }

  .pt-xlg-12 {
    padding-top: 12px;
  }

  .pt-xlg-13 {
    padding-top: 13px;
  }

  .pt-xlg-14 {
    padding-top: 14px;
  }

  .pt-xlg-15 {
    padding-top: 15px;
  }

  .pt-xlg-16 {
    padding-top: 16px;
  }

  .pt-xlg-17 {
    padding-top: 17px;
  }

  .pt-xlg-18 {
    padding-top: 18px;
  }

  .pt-xlg-19 {
    padding-top: 19px;
  }

  .pt-xlg-20 {
    padding-top: 20px;
  }

  .pr-xlg-1 {
    padding-right: 1px;
  }

  .pr-xlg-2 {
    padding-right: 2px;
  }

  .pr-xlg-3 {
    padding-right: 3px;
  }

  .pr-xlg-4 {
    padding-right: 4px;
  }

  .pr-xlg-5 {
    padding-right: 5px;
  }

  .pr-xlg-6 {
    padding-right: 6px;
  }

  .pr-xlg-7 {
    padding-right: 7px;
  }

  .pr-xlg-8 {
    padding-right: 8px;
  }

  .pr-xlg-9 {
    padding-right: 9px;
  }

  .pr-xlg-10 {
    padding-right: 10px;
  }

  .pr-xlg-11 {
    padding-right: 11px;
  }

  .pr-xlg-12 {
    padding-right: 12px;
  }

  .pr-xlg-13 {
    padding-right: 13px;
  }

  .pr-xlg-14 {
    padding-right: 14px;
  }

  .pr-xlg-15 {
    padding-right: 15px;
  }

  .pr-xlg-16 {
    padding-right: 16px;
  }

  .pr-xlg-17 {
    padding-right: 17px;
  }

  .pr-xlg-18 {
    padding-right: 18px;
  }

  .pr-xlg-19 {
    padding-right: 19px;
  }

  .pr-xlg-20 {
    padding-right: 20px;
  }

  .pb-xlg-1 {
    padding-bottom: 1px;
  }

  .pb-xlg-2 {
    padding-bottom: 2px;
  }

  .pb-xlg-3 {
    padding-bottom: 3px;
  }

  .pb-xlg-4 {
    padding-bottom: 4px;
  }

  .pb-xlg-5 {
    padding-bottom: 5px;
  }

  .pb-xlg-6 {
    padding-bottom: 6px;
  }

  .pb-xlg-7 {
    padding-bottom: 7px;
  }

  .pb-xlg-8 {
    padding-bottom: 8px;
  }

  .pb-xlg-9 {
    padding-bottom: 9px;
  }

  .pb-xlg-10 {
    padding-bottom: 10px;
  }

  .pb-xlg-11 {
    padding-bottom: 11px;
  }

  .pb-xlg-12 {
    padding-bottom: 12px;
  }

  .pb-xlg-13 {
    padding-bottom: 13px;
  }

  .pb-xlg-14 {
    padding-bottom: 14px;
  }

  .pb-xlg-15 {
    padding-bottom: 15px;
  }

  .pb-xlg-16 {
    padding-bottom: 16px;
  }

  .pb-xlg-17 {
    padding-bottom: 17px;
  }

  .pb-xlg-18 {
    padding-bottom: 18px;
  }

  .pb-xlg-19 {
    padding-bottom: 19px;
  }

  .pb-xlg-20 {
    padding-bottom: 20px;
  }

  .pl-xlg-1 {
    padding-left: 1px;
  }

  .pl-xlg-2 {
    padding-left: 2px;
  }

  .pl-xlg-3 {
    padding-left: 3px;
  }

  .pl-xlg-4 {
    padding-left: 4px;
  }

  .pl-xlg-5 {
    padding-left: 5px;
  }

  .pl-xlg-6 {
    padding-left: 6px;
  }

  .pl-xlg-7 {
    padding-left: 7px;
  }

  .pl-xlg-8 {
    padding-left: 8px;
  }

  .pl-xlg-9 {
    padding-left: 9px;
  }

  .pl-xlg-10 {
    padding-left: 10px;
  }

  .pl-xlg-11 {
    padding-left: 11px;
  }

  .pl-xlg-12 {
    padding-left: 12px;
  }

  .pl-xlg-13 {
    padding-left: 13px;
  }

  .pl-xlg-14 {
    padding-left: 14px;
  }

  .pl-xlg-15 {
    padding-left: 15px;
  }

  .pl-xlg-16 {
    padding-left: 16px;
  }

  .pl-xlg-17 {
    padding-left: 17px;
  }

  .pl-xlg-18 {
    padding-left: 18px;
  }

  .pl-xlg-19 {
    padding-left: 19px;
  }

  .pl-xlg-20 {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=abstracts.css.map */
