/// Mapa creado dinamicamente en base al fichero de configuración. Define los puntos de ruptura de los distintos breakpoints
/// @type map
/// @group grid 
$breakpoints: (
              sm:(
          gutter:30px,
          offset:50px,
          columns:4,
          width:360px
        ),md:(
          gutter:30px,
          offset:50px,
          columns:6,
          width:768px
        ),lg:(
          gutter:30px,
          offset:50px,
          columns:12,
          width:1440px
        ),xlg:(
          gutter:30px,
          offset:50px,
          columns:12,
          width:1920px
        ),
          )