/// Mapa creado dinamicamente en base al fichero de configuración. Define los atributos para crear las clases de utilidad de margin y padding
/// @type number
/// @group spacing
      $spacing: (
          increase:5,
          limit:20
      );
    